.app-header{
  padding: 1rem 0;
  text-align: center;
  margin: 0;
}
.app-view-container{
  /* position: relative; */
}
.full-width{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.transparent-button{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  background: transparent;
  cursor: pointer;
}
.bottom-align-container{
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
}
.modal-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  z-index: 10;
}
.modal-window-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  /* min-height: 80vh; */
  max-height: 90vh;
  z-index: 11;
}
